.fondo {
    background: url("/Images/voleibol.jpg");
    height: 50em;
}


.principal {
    width: 30em;
}

.tituloForm {
    color:white;
}

.navPrin{
    font-size: 1.5em;
}

.icono {
    font-size: 3em;
}

li {
    display: inline-block;
}

.card {
    margin: 3em;
}

.texto {
    font-family: 'Comic Sans MS';
    font-size: 1.6em;
    color: white;
}

p{
    text-align:justify;
}

.iconos {
    text-align:center;
    font-size: 3em;
}