@{
    ViewBag.Title = "Home Page";
}

<div class="container page-header">
    <h1 style="font-family: 'Chango', cursive;">DRAGONES VOLLEY CLUB <i class="fas fa-volleyball-ball"></i></h1>
    <h2></h2>
</div>


<div class="row fondo">
    <div class="container">
        <img src="/Images/balon.jpg" alt="Voleibol.jpg" class="img-responsive img-rounded" style="width:40em; height: 30em; display:inline-block;" />
        <section class="pull-right">
            <div class="well well-lg principal" style=" background-color: rgb(102, 96, 95, .8);">
                <form class="form-horizontal" method="post">
                    <fieldset>
                        <legend class="text-center header tituloForm">Contáctanos</legend>
                        <div class="form-group">
                            <span class="col-md-2 col-md-offset-1 text-center"><i class="fa fa-address-card bigicon icono"></i></span>
                            <div class="col-md-8">
                                <input id="nombre" name="nombre" type="text" placeholder="Nombres" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <span class="col-md-2 col-md-offset-1 text-center"><i class="fa fa-address-card bigicon icono"></i></span>
                            <div class="col-md-8">
                                <input id="apellido" name="apellido" type="text" placeholder="Apellidos" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <span class="col-md-2 col-md-offset-1 text-center"><i class="fa fa-envelope-o bigicon icono"></i></span>
                            <div class="col-md-8">
                                <input id="email" name="email" type="email" placeholder="Correo Electrónico" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <span class="col-md-2 col-md-offset-1 text-center"><i class="fa fa-phone-square bigicon icono"></i></span>
                            <div class="col-md-8">
                                <input id="telefono" name="telefono" type="number" placeholder="Télefono" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <span class="col-md-2 col-md-offset-1 text-center"><i class="fa fa-pencil-square-o bigicon icono"></i></span>
                            <div class="col-md-8">
                                <input id="edad" name="edad" type="number" placeholder="Ingrese su edad" class="form-control" />
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12 text-center">
                                <button type="submit" class="btn btn-primary btn-lg">Enviar</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </section>
    </div>

    <hr />

    <div class="container" style="background-color: rgb(102, 96, 95, 0.95);">
        <h3 style="text-align:center; color:white; font-family: 'Chango', cursive;">Entrena Con Nosotros!</h3>
        <p class="texto">Somos un club deportivo de alto rendimiento en la disciplina del Volleyball, contamos con entrenadores que tienen varios años de experiencia formando deportistas completos que se destacan en este deporte, de la mano de los mejores instructores calificados para acompañarlos en sus procesos.</p>
        <a href="#" class="btn btn-success">Me Interesa</a>
    </div>
</div>

<hr />
<h3 style="text-align:center; font-family: 'Chango', cursive; font-size: 3em;">Testimonios</h3>
<div class="card-group">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title"><span><strong>Kevin: </strong> </span></h5>
            <p class="card-text">Es un gran club, con excelentes entrenadores. He aprendido mucho de ellos y en cada entrenamiento se aprende algo nuevo.</p>
            <p class="card-text"><small class="text-muted">Hace 5 minutos.</small></p>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title"><span><strong>Camila: </strong> </span></h5>
            <p class="card-text">Desde que llegué al club he mejorado demasiado en el voleibol.</p>
            <p class="card-text"><small class="text-muted">Hace 10 minutos.</small></p>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title"><span><strong>David: </strong></span></h5>
            <p class="card-text">El acompañamiento de los entrenadores es el mejor, y los integrantes del club son muy unidos y colaborativos.</p>
            <p class="card-text"><small class="text-muted">Hace 30 minutos.</small></p>
        </div>
    </div>
</div>
<hr />
<div class="iconos" style="background-color:grey;">
    <h2 style="text-align:center; font-family: 'Chango', cursive;">¡Siguenos En Nuestras Redes Sociales!</h2>

    <a href="#" style="color:darkviolet;"><i class="fab fa-instagram-square"></i></a>
    <a href="#" style="color:dodgerblue;"><i class="fab fa-facebook-square"></i></a>
    <a href="#" style="color:red;"><i class="fab fa-youtube-square"></i></a>
</div>
