
@{
    ViewBag.Title = "Mensaje";
}
<br /><br /><br />
<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Gracias por visitarnos!</h4>
    <p>Estamos contentos con su visita a nuestra pagina, y por el interés que mostró por el club.
    Estaremos en contacto con usted en unos días!.</p>
    <hr>
    <p class="mb-0">Le llegará un correo con toda la información del club!.</p>
</div>

